.hamburger 
{
    height: 1.4em;
    width: 1.4em;
    border: 1px solid black;
    padding: 0px;
    border-radius: 20%;
}

.hamburger-hr 
{
    border-width: 2px;
    margin: 0px;
    padding: 0px;
    margin-top: 0.23em;
}

@media screen and (max-width: 600px) {
    /* CSS стили для экранов с шириной менее 600px */
    .hamburger 
    {
        height: 1.4em;
        width: 100%;
        border: 2px solid black;
        padding: 0px;
        border-radius: 10%;
    }
    
    .hamburger-hr 
    {
        border-width: 4px;
    }
  }
