.grid-container {
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1.7em;
    grid-gap: 0.5em;
    grid-row-gap: 0.3em; /*Отступ между строками*/
    grid-auto-flow: column; /* Это заставит элементы переноситься вниз при нехватке места */
}

.text-container {
    height: 1.4em;
    padding: 0px;
    padding-top: 0px;
    border: 1px solid black;
    border-radius: 10%;
}

.text {
    height: 100%;
    width: 100%;
    margin: 0px;
    border: none;
    border-radius: 10%;
    border: 1px solid black;
    float: left;
    font-size: 1em;
}

.button-container {
    height: 1.4em;
    padding: 0px;
    border-radius: 10%;
    border-radius: 10%;
}

.button {
    height: 100%;
    width: 100%;
    float:left;
    border-radius: 10%;
    font-size: 1em;
}

